// Copyrighm (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define CLMKL 0
#define FNL   1
#define NUML  2
#define NAVL  3
#define SETL  4

// Home row mods macro
#define HRML(k1,k2,k3,k4) &hm LGUI k1  &hm LALT k2  &hm LCTRL k3  &hm LSHFT k4
#define HRMR(k1,k2,k3,k4) &hm RSHFT k1  &hm RCTRL k2  &hm RALT k3  &hm RGUI k4

#define ____________________TRANSPARENT_____________________ &trans  &trans  &trans  &trans  &trans
#define __________________TR_TRANSPARENT____________________ &kp ESC  &trans  &trans  &trans  &trans
#define ________________________RALT________________________ &trans  &caps_word  &kp RCTRL  &kp RALT  &kp RGUI
#define ________________________LALT________________________ &kp LGUI  &kp LALT  &kp LCTRL  &caps_word  &trans

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <NAVL NUML>;
            then-layer = <SETL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        colemak_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮         ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  B       │         │  J       │  L       │  U       │  Y       │  ; :     │
            &kp Q      &kp W      &kp F      &kp P      &kp B                &kp J      &kp L      &kp U      &kp Y      &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤         ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S       │  T       │  G       │         │  M       │  N       │  E       │  I       │  O       │
            HRML(A,        R,         S,         T)     &kp G                &kp M      HRMR(N,        E,         I,         O)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤         ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │         │  K       │  H       │  , <     │  . >     │ / ?      │
            &kp Z      &kp X      &kp C      &kp D      &kp V                &kp K      &kp H      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤         ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                       &lt NAVL ENTER   &lt NUML SPACE    &lt FNL BSPC  &kp LSHFT
        //                                 ╰──────────┴──────────╯         ╰──────────┴──────────╯
            >;
        };

        fn_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ ESCAPE   │  F7      │  F8      │  F9      │  F12     │   │          │          │          │          │          │
            &kp ESC    &kp F7     &kp F8     &kp F9     &kp F12        ____________________TRANSPARENT_____________________
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ CAPS     │  F4      │  F5      │  F6      │  F11     │   │          │          │          │          │          │
            &kp CAPS   &kp F4     &kp F5     &kp F6     &kp F11        ________________________RALT________________________
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  F1      │  F2      │  F3      │  F10     │   │          │          │          │          │          │
            &trans     &kp F1     &kp F2     &kp F3     &kp F10        ____________________TRANSPARENT_____________________
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        num_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  (       │  )       │  [       │  ]       │   TAB    │   │  -       │  7       │  8       │  9       │  \ |     │
            &kp LPAR   &kp RPAR   &kp LBKT   &kp RBKT   &kp TAB        &kp MINUS  &kp N7     &kp N8     &kp N9     &kp BSLH
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │  = +     │  4       │  5       │  6       │  '       │
            ________________________LALT________________________       &kp EQUAL  &kp N4     &kp N5     &kp N6     &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ ESCAPE   │          │          │          │  `       │   │  0       │  1       │  2       │  3       │  -       │
            &kp ESC    &trans     &trans     &trans     &kp GRAVE      &kp N0     &kp N1     &kp N2     &kp N3     &kp MINUS
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │          │          │   │  DEL     │          │
                                             &trans     &trans         &kp N0     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        nav_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  (       │  )       │  [       │  ]       │   TAB    │   │  INSERT  │  PREV    │  PLAY    │  NEXT    │  VOL UP  │
            &kp LPAR   &kp RPAR   &kp LBKT   &kp RBKT   &kp TAB        &kp INS   &kp C_PREV  &kp C_PP  &kp C_NEXT &kp C_VOL_UP
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │  LEFT    │  DOWN    │  UP      │  RIGHT   │  VOL DOWN│
            ________________________LALT________________________       &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT &kp C_VOL_DN
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ ESCAPE   │          │          │          │  `       │   │  HOME    │  PGDN    │  PGUP    │  END     │  MUTE    │
            &kp ESC    &trans     &trans     &trans     &kp GRAVE      &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp C_MUTE
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │          │          │   │  DEL     │          │
                                             &trans     &trans         &kp DEL    &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        settings_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    ____________________TRANSPARENT_____________________
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

    };
};
